/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  /* Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  /* Primary */
  --scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --scissors-color: hsl(39, 89%, 49%);
  --paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --paper-color: hsl(230, 89%, 62%);
  --rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --rock-color: hsl(349, 71%, 52%);
  --lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  /* Shadows */
  --shadow-inline: hsl(240, 24%, 89%);
  --scissors-shadow: hsl(29, 78%, 44%);
  --paper-shadow: hsl(228, 66%, 45%);
  --rock-shadow: hsl(346, 75%, 35%);

  /*========== Font and typography ==========*/
  --body-font:'Barlow Semi Condensed', sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2.5rem;
  --big-font-size: 2.2rem;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.35rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --text-line-height: 2rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-5: 3.5rem;

  /*========== z index ==========*/
  --z-buttons: 10;
  --z-tooltip: 100;
  --z-fixed: 1000;
}

   /*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
  
}

body{
  font-family: var(--body-font);
  background: var(--dark-text);
  /* color: var(--text-color); */
}

h1,h2,h3{
  font-family: var(--body-font);
  /* color: var(--title-color); */
}

ul{
  list-style-type: none;
}

a{
  font-family: var(--body-font);
  /* color: var(--white-color); */
  text-decoration: none;
}

button,
input{
  font-family: var(--body-font);
  border: none;
  outline: none;
}

button{
  cursor: pointer;
}

img{
  max-width: 100%;
}

span{
  font-size: var(--normal-font-size);
  line-height: 1.6rem;
  text-align: center;
  margin: 0;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.selector{
  background-color: white;
  border: 15px solid blue;
  border-radius: 4rem;
  width: 130px;
  height: 130px;
  box-shadow: inset 0px 5px var(--shadow-inline);
}

.button{
  font-size: var(--normal-font-size);
  letter-spacing: .2rem;
  color: var(--shadow-inline);
  text-transform: uppercase;
  background-color: transparent;
  padding: var(--mb-0-5) var(--mb-2);
  border: 2px solid var(--shadow-inline);
  border-radius: .4rem;
}

.rock{
  border-color: var(--rock-color);
  filter: drop-shadow(0px 7px 1px var(--rock-shadow));
}

.paper{
  border-color: var(--paper-color);
  filter: drop-shadow(0px 7px 1px var(--paper-shadow));
}

.scissors{
  border-color: var(--scissors-color);
  filter: drop-shadow(0px 7px 1px var(--scissors-shadow));
}

/*=============== LAYOUT ===============*/

.main{
  overflow: hidden; /* For animation and images*/
}

.grid{
  display: grid;
}

/*=============== HEADER ===============*/
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  padding: var(--mb-0-75);
  margin: var(--mb-2) auto 0 auto;
  border: 3px solid var(--header-outline);
  border-radius: .4rem;
}

.header__logo{
  width: 90px;
}

.header__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--mb-0-25) var(--mb-1-25);
  background-color: white;
  border: 2px solid white;
  border-radius: .3rem;
}

.header__title{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: .1rem;
  color: var(--score-text);
}

.header__count{
  font-size: var(--bigger-font-size);
  font-weight: var(--font-bold);
  color: var(--header-outline);
  margin: .1rem 0 .8rem 0;
}

/*=============== GAME ===============*/
.game{
  position: relative;
  margin-top: var(--mb-3-5);
}

.game__container{
  display: flex;
  justify-content: center;
}

.game__container-step1{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--mb-3-5);
  margin: 0 auto;
  width: 330px;
}

.game__container-step2{
  display: flex;
  justify-content: center;
  gap: var(--mb-2);
}

.game__selector{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-buttons);
  transition: .4s transform;
}

.game__selector:hover{
  transform: translate(0px, -20px);
}

.game__result{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__icon{
  width: 40px;
}

.game__background{
  position: absolute;
  width: 250px;
  transform: translate(0px, 45px);
}

/*=============== GAME-RULES ===============*/
.game__modal{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--mb-1-5);
  gap: 4rem;
  transform: translate(0px, -150px);
  border-radius: .5rem;
  background-color: white;
  z-index: var(--z-tooltip);
  transition: .4s opacity;
}

.game__modal-title{
  font-size: var(--h1-font-size);
  color: var(--dark-text);
  text-transform: uppercase;
}

.game__modal-close{
  font-size: var(--big-font-size);
  font-weight: var(--font-medium);
  color: var(--header-outline);
  cursor: pointer;
}

.game__rules{
  display: flex;
  justify-content: center;
  margin-top: var(--mb-3-5);
}

.game__rules-button{
  /* position: absolute; */
  transition: .4s opacity;
}

/* Active States */

.opacity-hidden {
  opacity: 0;
}

.display-none{
 display: none;
}