/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  /* Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  /* Primary */
  --scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  /* Shadows */
  --shadow-inline: hsl(240, 24%, 89%);

  /*========== Font and typography ==========*/
  --body-font:'Barlow Semi Condensed', sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2.5rem;
  --big-font-size: 2.2rem;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.35rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --text-line-height: 2rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-5: 3.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

   /*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
  
}

body{
  font-family: var(--body-font);
  background: var(--dark-text);
  /* color: var(--text-color); */
}

h1,h2,h3{
  font-family: var(--body-font);
  /* color: var(--title-color); */
}

ul{
  list-style-type: none;
}

a{
  font-family: var(--body-font);
  /* color: var(--white-color); */
  text-decoration: none;
}

button,
input{
  font-family: var(--body-font);
  border: none;
  outline: none;
}

button{
  cursor: pointer;
}

img{
  max-width: 100%;
}

span{
  font-size: var(--normal-font-size);
  line-height: 1.6rem;
  text-align: center;
  margin: 0;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.selector{
  background-color: white;
  border: 15px solid blue;
  border-radius: 4rem;
  width: 130px;
  height: 130px;
  /* filter: drop-shadow(0px 7px 1px); */
  box-shadow: inset 0px 5px var(--shadow-inline);
  box-shadow: 0px 7px 1px white;
}

/*=============== LAYOUT ===============*/

.main{
  overflow: hidden; /* For animation and images*/
}

.grid{
  display: grid;
}

/*=============== HEADER ===============*/
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  padding: var(--mb-0-75);
  margin: var(--mb-2) auto 0 auto;
  border: 3px solid var(--header-outline);
  border-radius: .4rem;
}

.header__logo{
  width: 90px;
}

.header__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--mb-0-25) var(--mb-1-25);
  background-color: white;
  border: 2px solid white;
  border-radius: .3rem;
}

.header__title{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: .1rem;
  color: var(--score-text);
}

.header__count{
  font-size: var(--bigger-font-size);
  font-weight: var(--font-bold);
  color: var(--header-outline);
  margin: .1rem 0 .8rem 0;
}

/*=============== GAME ===============*/
.game{
  position: relative;
  margin-top: 5rem;
}

.game__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--mb-2);
  margin: 0 auto;
  width: 330px;
}

.game__selector{
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__selector:nth-child(1){
  border-color: hsl(230, 89%, 62%);
  margin-right: var(--mb-0-75);
}

.game__selector:nth-child(2){
  border-color: hsl(39, 89%, 49%);
  margin-left: var(--mb-0-75);
}

.game__selector:nth-child(3){
  border-color: hsl(349, 71%, 52%);
}

.game__icon{
  width: 40px;
}